# Core
numpy
pandas

# Embeddings (local)
sentence-transformers
transformers
torch

# Vector DB
qdrant-client

# HTTP / API
requests
httpx

# Backend (para el siguiente paso)
fastapi
uvicorn

# Utils
tqdm
python-dotenv
pydantic
sqlalchemy
pymysql
cryptography
pyarrow
